@import "base";

$foot_var     : 1em;
$color_blue   : #2d89ef;
$color_yellow : #ffc40d;
$color_green  : #00a300;
$color_gray   : #efefef;

* {
    margin : 0;
}

html, body {
    padding-bottom : 10px;
}

.wrap{
    width      : 960px;
    min-height : 100%;
    height     : auto !important;
    height     : 100%;
    margin     : auto; /* the bottom margin is the negative value of the footer's height */
}
.push, footer{
    clear      : both;
    background : #B3C9E1;
    height     : $foot_var;
    text-align : center;
    position   : fixed;
    bottom     : 0%;
}

.name{
    font-size   : 1.2em;
    line-height : 20px;
}

.bb-icon, .gbc-icon{
    width  : 24px;
    height : 24px;
}

header{
    margin-bottom : 20px;
    .navbar {
        .brand {
            color       : $color_gray;
            text-shadow : none;
        }

        .nav > li > a {
            color       : $color_gray;
            text-shadow : none;
        }
        .divider-vertical {
            height : 43px;
        }

        .nav li.dropdown.open > .dropdown-toggle,
        .navbar .nav li.dropdown.active>.dropdown-toggle,
        .navbar .nav li.dropdown.open.active > .dropdown-toggle {
            background    : transparent;
            margin-bottom : 2px;
            color         : silver;
        }
    }
    .navbar .nav > li > {
        a:focus,
        a:hover {
            color : white;
        }
    }
    .navbar-inner {
        background : #155FA7;
    }
}

.a-hover {
    color : white;
    a:focus,
    a:hover {
        background : black;
    }
}

.generic-list {
    border        : 1px solid lighten($color_blue, 30%);
    margin-bottom : 20px;
    max-height    : 300px;
    overflow-y    : scroll;

    table {
        margin : 0;

        tbody {
            td {
                line-height : 30px;
            }
        }
    }
}
