// @import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/css3";
/* Metroesque Font Style */
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);
body{
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;  
}
footer{
	background-color: #efefef;
	position:absolute;
	bottom: 0;
	font-size: 1.22em;
}
