@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);
/* Metroesque Font Style */
/* line 8, ../sass/screen.scss */
* {
  margin: 0; }

/* line 11, ../sass/screen.scss */
html, body {
  height: 100%; }

/* line 14, ../sass/screen.scss */
.wrap {
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: auto;
  /* the bottom margin is the negative value of the footer's height */ }

/* line 21, ../sass/screen.scss */
.push, footer {
  clear: both;
  background: #efefef;
  height: 1em;
  text-align: center;
  position: absolute;
  bottom: 0%; }

/* line 30, ../sass/screen.scss */
.name {
  font-size: 1.2em;
  line-height: 20px; }

/* line 35, ../sass/screen.scss */
.bb-icon, .gbc-icon {
  width: 24px;
  height: 24px; }

/* line 40, ../sass/screen.scss */
header {
  margin-bottom: 20px; }
  /* line 42, ../sass/screen.scss */
  header .navbar .brand {
    color: #efefef;
    text-shadow: none; }
  /* line 46, ../sass/screen.scss */
  header .navbar .nav > li > a {
    color: #efefef;
    text-shadow: none; }
  /* line 50, ../sass/screen.scss */
  header .navbar .divider-vertical {
    height: 43px; }
  /* line 54, ../sass/screen.scss */
  header .navbar .nav li.dropdown.open > .dropdown-toggle,
  header .navbar .navbar .nav li.dropdown.active > .dropdown-toggle, header .navbar .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: transparent;
    margin-bottom: 2px;
    color: silver; }
  /* line 61, ../sass/screen.scss */
  header .navbar .nav > li > a:focus, header .navbar .nav > li > a:hover {
    color: white; }
  /* line 65, ../sass/screen.scss */
  header .navbar-inner {
    background: #155FA7; }
